<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MUKO resort</title>
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/default.css">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/about.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
  </head>
  <body>
      <div class="container">
        <header class="header">
            <nav class="nav">
                <div class="menu">
                    <h1 class="logo"><a href="../index.html"><p>MUKO</p></a></h1>
                    <div class="menu-right">
                        <a href="#">book now</a>
                        <a href="#">(705) 256-1313</a>
                        <div class="hamburger-menu">
                            <div class="hamburger-menu-line"></div>
                            <div class="hamburger-menu-line"></div>
                            <div class="hamburger-menu-line"></div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="menu-open">
                <div class="menu-open-bg"></div>
                <div class="menu-close">
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-open-container">
                    <h1 class="logo menu-open-item"><a href="../index.html"><p>MUKO</p></a></h1>
                    <div class="menu-open-left menu-open-item">
                        <a href="../views/rooms.html">rooms</a>
                        <a href="../views/about.html">about MUKO</a>
                        <a href="../views/amenities.html">amenity</a>
                        <a href="../views/activity.html">activity</a>
                        <a href="../views/package.html">package</a>
                        <a href="../views/contact.html">contact us / location</a>
                        <a href="../views/qna.html">faq</a>
                        <div class="social-networks">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>

                </div>
                <div class="menu-open-right">
                    <div></div>
                    <div>
                       <a href="#">book now</a>
                        <a href="#">(705) 256-1313</a>
                        <a href="#" class="nav-email">info@muko.com</a>
                    </div>

                </div>
            </nav>
        </header>
        <main>
          

            <section class="about-0">
                <h2>About MUKO</h2>
            </section>

                <section class="about-1">
                    <div class="about-1-detail observer-ready">
                        <div class="about-img"></div>
                        <div class="about-text">
                            <p> The resort located in Muskoka is ready to welcome customers waiting to be back into nature. 
                            MUKO is passionate about the customers' wellness and suggests a variety of activities and accommodations
                            The resort is passionate about providing the best possible experience for its guests. Various activities and enjoyment have been prepared from rest, which is the basics of the resort. We will always strive to create experiences and memories.
                            Escape from the hustle and bustle of the city, or get away from the monotonous daily life, like the lakes shining under the sunlight in nature, like innumerable trees in the forest, we hope that countless memories will be accumulated in our customers.</p>
                            <br>
                            <p>Muskoka is a beautiful place to enjoy nature. Take a deep breath of the fresh air and move like children and saver the food from the nature.

                                Enjoy your precious time with shining memories</p>
                        </div>
                    </div>
                </section>


            <section class="about-2 observer-ready">

                <div class="rooms-gallery">
                    <div class="rooms-gallery-0"></div>
                    <div class="rooms-gallery-1"></div>
                    <div class="rooms-gallery-2"></div>
                    <div class="rooms-gallery-3"></div>
                    <div class="rooms-gallery-4"></div>
                    <div class="rooms-gallery-5"></div>
                    
                </div>
            </section>

            <section class="rooms-4">
                <h2 class="observer-ready">activities</h2>
                <div class="rooms-4-activities-container">
                    <div class="room4-img-1 observer-ready"><p>yoga classes</p></div>
                    <div class="room4-img-2 observer-ready"><p>Kayak classes</p></div>
                    <div class="room4-img-3 observer-ready"><p>swimming classes</p></div>
                    <div class="view-more observer-ready"><p>Explore more activities<button>see all activities</button></p></div>
                </div>
            </section>

            <section class="rooms-5">
                <h2 class="observer-ready">packages</h2>
                <div class="rooms-5-packages-container">
                    <div class="room5-img-1 observer-ready"><p>restaurant packages</p></div>
                    <div class="room5-img-2 observer-ready"><p>spa packages</p></div>
                    <div class="room5-img-3 observer-ready"><p>golf packages</p></div>
                    <div class="view-more observer-ready"><p>Explore more activities<button>see all packages</button></p></div>
                </div>
            </section>


        </main>
        <footer> 
            <div class="footer-container">
                    <div class="logo"></div>
                    <div class="address">
                        <p>address<br>1018 Pudden Rd,<br>Gravenhurst, ON, CA</p>
                        <p class="direction">diriection →</p>
                    </div>
                    <div class="footer-menu-links">
                        <div>
                            <a href="#">rooms</a>
                            <a href="#">about MUKO</a>
                            <a href="#">amenity</a>
                            <a href="#">activity</a>
                            <a href="#">package</a>
                            <div>
                                <a href="#">contact us / location</a>
                                <a href="#">faq</a> 
                            </div>
                       </div>
                   </div>
                    <div class="footer-contacts-links">
                        <a href="#">reservations</a>
                        <a href="#">(705) 256-1313</a>
                        <a href="#">(705) 256-1314</a>
                        <a href="#" class="nav-email">info@muko.com</a>
                    <div>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
            <p class="copyright">copyright © 2021 MUKO</p>
        </footer>
      </div>

    <Script src="../public/nav.js"></Script>
    <script src="../public/io.js"></script>
    <script src="../public/rooms.js"></script>
  </body>
</html>