<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MUKO resort</title>
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/default.css">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/activity.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
  </head>
  <body>
      <div class="container">
        <header class="header">
            <nav class="nav">
                <div class="menu">
                    <h1 class="logo"><a href="../index.html"><p>MUKO</p></a></h1>
                    <div class="menu-right">
                        <a href="#">book now</a>
                        <a href="#">(705) 256-1313</a>
                        <div class="hamburger-menu">
                            <div class="hamburger-menu-line"></div>
                            <div class="hamburger-menu-line"></div>
                            <div class="hamburger-menu-line"></div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="menu-open">
                <div class="menu-open-bg"></div>
                <div class="menu-close">
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-open-container">
                    <h1 class="logo menu-open-item"><a href="../index.html"><p>MUKO</p></a></h1>
                    <div class="menu-open-left menu-open-item">
                        <a href="../views/rooms.html">rooms</a>
                        <a href="../views/about.html">about MUKO</a>
                        <a href="../views/amenities.html">amenity</a>
                        <a href="../views/activity.html">activity</a>
                        <a href="../views/package.html">package</a>
                        <a href="../views/contact.html">contact us / location</a>
                        <a href="../views/qna.html">faq</a>
                        <div class="social-networks">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>

                </div>
                <div class="menu-open-right">
                    <div></div>
                    <div>
                       <a href="#">book now</a>
                        <a href="#">(705) 256-1313</a>
                        <a href="#" class="nav-email">info@muko.com</a>
                    </div>

                </div>
            </nav>
        </header>
        <main>
          

            <section class="main-visual">
                <h2>activity</h2>
            </section>

            <section class="activity-banner">
                <div class="activity-banner-container">
                    <div class="activity-banner-img observer-ready"></div>
                    <div class="activity-banner-text">
                        <p class="observer-ready">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, corrupti ad. Nostrum doloremque consectetur id similique autem, sunt distinctio debitis quia fugit fuga quam cupiditate voluptatum velit ipsam. Tempora at, impedit repudiandae tenetur ea vitae neque quis voluptas accusantium, quas animi. Facere doloremque asperiores iste. Illum odit minima mollitia similique.</p>
                    </div>
                
                </div>
            </section>

            <section class="activity-list">
                <div class="activity-list-container">
                    <div class="activity-img swimming observer-ready"></div>
                    <div class="activity-text">
                        <h3>Class</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p class="schedule">tue~sun 9AM~1PM</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus veniam tenetur distinctio, expedita iusto mollitia eligendi quis neque adipisci at dolores in similique omnis. Voluptas consequatur nisi corporis nesciunt!</p>
                        <button class="discover-more"> Discover More</button>
                    </div>
                </div>  
                <div class="activity-list-container">
                    <div class="activity-img kayak observer-ready"></div>
                    <div class="activity-text">
                        <h3>class</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p class="schedule">tue~sun 9AM~1PM</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus veniam tenetur distinctio, expedita iusto mollitia eligendi quis neque adipisci at dolores in similique omnis. Voluptas consequatur nisi corporis nesciunt!</p>
                        <button class="discover-more"> Discover More</button>
                    </div>
                </div>
                <div class="activity-list-container">
                    <div class="activity-img yoga observer-ready"></div>
                    <div class="activity-text">
                        <h3>class</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p class="schedule">tue~sun 9AM~1PM</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus veniam tenetur distinctio, expedita iusto mollitia eligendi quis neque adipisci at dolores in similique omnis. Voluptas consequatur nisi corporis nesciunt!</p>
                        <button class="discover-more"> Discover More</button>
                    </div>
                </div>
                <div class="activity-list-container">
                    <div class="activity-img golf observer-ready"></div>
                    <div class="activity-text">
                        <h3>class</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p class="schedule">tue~sun 9AM~1PM</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus veniam tenetur distinctio, expedita iusto mollitia eligendi quis neque adipisci at dolores in similique omnis. Voluptas consequatur nisi corporis nesciunt!</p>
                        <button class="discover-more"> Discover More</button>
                    </div>
                </div>
                <div class="activity-list-container">
                    <div class="activity-img swimming observer-ready"></div>
                    <div class="activity-text">
                        <h3>class</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p class="schedule">tue~sun 9AM~1PM</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus veniam tenetur distinctio, expedita iusto mollitia eligendi quis neque adipisci at dolores in similique omnis. Voluptas consequatur nisi corporis nesciunt!</p>
                        <button class="discover-more"> Discover More</button>
                    </div>
                </div>
            </section>



        </main>
        <footer> 
            <div class="footer-container">
                    <div class="logo"></div>
                    <div class="address">
                        <p>address<br>1018 Pudden Rd,<br>Gravenhurst, ON, CA</p>
                        <p class="direction">diriection →</p>
                    </div>
                    <div class="footer-menu-links">
                        <div>
                            <a href="#">rooms</a>
                            <a href="#">about MUKO</a>
                            <a href="#">amenity</a>
                            <a href="#">activity</a>
                            <a href="#">package</a>
                            <div>
                                <a href="#">contact us / location</a>
                                <a href="#">faq</a> 
                            </div>
                       </div>
                   </div>
                    <div class="footer-contacts-links">
                        <a href="#">reservations</a>
                        <a href="#">(705) 256-1313</a>
                        <a href="#">(705) 256-1314</a>
                        <a href="#" class="nav-email">info@muko.com</a>
                    <div>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
            <p class="copyright">copyright © 2021 MUKO</p>
        </footer>
      </div>

    <Script src="../public/nav.js"></Script>
    <script src="../public/io.js"></script>
    <script src="../public/rooms.js"></script>
  </body>
</html>