<!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MUKO resort</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/default.css">
        <link rel="stylesheet" href="../public/main.css">
        <link rel="stylesheet" href="../public/amenities.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    </head>
    <body>
        <%- include('nav.html') %>
    
        <section class="about-0">
            <h2>amenities</h2>
        </section>

        <section class="scroll-section section-2">
            <div class="section-2-container">
                <div class="section-2-caption">
                    <p>Muskoka is a beautiful place to enjoy nature. Take a deep breath of the fresh air and move like children and saver the food from the nature.</p>
                    <p>Enjoy your precious time with shining memories </p>
                </div>
                <div class="section2-imgs">
                    <div class="img-list-1 observer-ready">
                        <div class="list-imgs">
                            <div class="kayak"></div>
                            <p>Kayak</p>
                        </div>
                        <div class="list-imgs">
                            <div class="tubing"></div>
                            <p>Tubing</p>
                        </div>
                        <div class="list-imgs">
                            <div class="bbqplace"></div>
                            <p>Barbeque place</p>
                        </div>
                        <div class="list-imgs">
                            <div class="playground"></div>
                            <p>Playground</p>
                        </div>
                    </div>
                    <div class="img-list-2 observer-ready">
                        <div class="list-imgs">
                            <div class="fireplace"></div>
                            <p>Fireplace</p>
                        </div>
                        <div class="list-imgs">
                            <div class="hikingtrail"></div>
                            <p>Hikig trail</p>
                        </div>
                        <div class="list-imgs">
                            <div class="petfriendly"></div>
                            <p>Pet friendly</p>
                        </div>
                        <div class="list-imgs">
                            <div class="laundryservice"></div>
                            <p>Laundry service</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="about-2 observer-ready">

            <div class="rooms-gallery">
                <div class="rooms-gallery-0"></div>
                <div class="rooms-gallery-1"></div>
                <div class="rooms-gallery-2"></div>
                <div class="rooms-gallery-3"></div>
                <div class="rooms-gallery-4"></div>
                <div class="rooms-gallery-5"></div>
                
            </div>
        </section>

        <section class="rooms-4">
            <h2 class="observer-ready">activities</h2>
            <div class="rooms-4-activities-container">
                <div class="room4-img-1 observer-ready"><p>yoga classes</p></div>
                <div class="room4-img-2 observer-ready"><p>Kayak classes</p></div>
                <div class="room4-img-3 observer-ready"><p>swimming classes</p></div>
                <div class="view-more observer-ready"><p>Explore more activities<button>see all activities</button></p></div>
            </div>
        </section>

        <section class="rooms-5">
            <h2 class="observer-ready">packages</h2>
            <div class="rooms-5-packages-container">
                <div class="room5-img-1 observer-ready"><p>restaurant packages</p></div>
                <div class="room5-img-2 observer-ready"><p>spa packages</p></div>
                <div class="room5-img-3 observer-ready"><p>golf packages</p></div>
                <div class="view-more observer-ready"><p>Explore more activities<button>see all packages</button></p></div>
            </div>
        </section>

        <%- include('footer.html') %>

        <script src="public/nav.js"></script>
        <script src="public/io.js"></script>
        <script src="public/rooms.js"></script>
     

    </body>
</html> 