<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MUKO resort</title>
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/default.css">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/contact.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
  </head>
  <body>
      <div class="container">
        <header class="header">
            <nav class="nav">
                <div class="menu">
                    <h1 class="logo"><a href="../index.html"><p>MUKO</p></a></h1>
                    <div class="menu-right">
                        <a href="#">book now</a>
                        <a href="#">(705) 256-1313</a>
                        <div class="hamburger-menu">
                            <div class="hamburger-menu-line"></div>
                            <div class="hamburger-menu-line"></div>
                            <div class="hamburger-menu-line"></div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="menu-open">
                <div class="menu-open-bg"></div>
                <div class="menu-close">
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-open-container">
                    <h1 class="logo menu-open-item"><a href="../index.html"><p>MUKO</p></a></h1>
                    <div class="menu-open-left menu-open-item">
                        <a href="../views/rooms.html">rooms</a>
                        <a href="../views/about.html">about MUKO</a>
                        <a href="../views/amenities.html">amenity</a>
                        <a href="../views/activity.html">activity</a>
                        <a href="../views/package.html">package</a>
                        <a href="../views/contact.html">contact us / location</a>
                        <a href="../views/qna.html">faq</a>
                        <div class="social-networks">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>

                </div>
                <div class="menu-open-right">
                    <div></div>
                    <div>
                       <a href="#">book now</a>
                        <a href="#">(705) 256-1313</a>
                        <a href="#" class="nav-email">info@muko.com</a>
                    </div>

                </div>
            </nav>
        </header>
        <main>
          

           
            <section class="main-visual">
                <h2>contact us</h2>
            </section>
            <section>
                <div class="contact-container">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.5995679582966!2d-79.44569868455797!3d44.9721299790982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2a8e32528e4eb5%3A0xddf188c05e786e49!2sTown%20of%2C%201018%20Pudden%20Rd%2C%20Gravenhurst%2C%20ON%20P1P%201R2!5e0!3m2!1sen!2sca!4v1648321282606!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="contact-info">
                        <h3>address</h3>
                        <div>
                            <i class="fas fa-map-marker-alt"></i>
                            <p>1018 PUDDEN RD,
                                <br>
                                GRAVENHURST, ON, CA</p>
                        </div>
                        <h3>phone</h3>
                        <div>
                            <i class="fas fa-phone"></i>
                            <p>(705) 256 - 1313</p>
                        </div>
                        <h3>email</h3>
                        <div>
                            <i class="fas fa-envelope"></i>
                            <p>info@muko.com</p>
                        </div>
                        <button>book now</button>
                    </div>
                </div>
            </section>
            <section class="message">
                <h3>send message</h3>
                <form id="form" class="form"> 
                    <input type="text" name="" placeholder=" Your Name">
                    <input type="email" name="" id="email" placeholder=" Email Address" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required ><span id="check"></span>
                    <textarea placeholder="Message" class="textarea"></textarea>
                    <div class="send-container">
                        <input id="send" type="submit" value="Send">     
                    </div>
                    
                </form>
            </section>




        </main>
        <footer> 
            <div class="footer-container">
                    <div class="logo"></div>
                    <div class="address">
                        <p>address<br>1018 Pudden Rd,<br>Gravenhurst, ON, CA</p>
                        <p class="direction">diriection →</p>
                    </div>
                    <div class="footer-menu-links">
                        <div>
                            <a href="#">rooms</a>
                            <a href="#">about MUKO</a>
                            <a href="#">amenity</a>
                            <a href="#">activity</a>
                            <a href="#">package</a>
                            <div>
                                <a href="#">contact us / location</a>
                                <a href="#">faq</a> 
                            </div>
                       </div>
                   </div>
                    <div class="footer-contacts-links">
                        <a href="#">reservations</a>
                        <a href="#">(705) 256-1313</a>
                        <a href="#">(705) 256-1314</a>
                        <a href="#" class="nav-email">info@muko.com</a>
                    <div>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
            <p class="copyright">copyright @ 2020 MOKO</p>
        </footer>
      </div>

    <Script src="../public/nav.js"></Script>
    <script src="../public/io.js"></script>
    <script src="../public/rooms.js"></script>
  </body>
</html>