<footer> 
    <div class="footer-container">
            <div class="logo"></div>
            <div class="address">
                <p>address<br>1018 Pudden Rd,<br>Gravenhurst, ON, CA</p>
                <p class="direction">diriection →</p>
            </div>
            <div class="footer-menu-links">
                <div>
                    <a href="#">rooms</a>
                    <a href="#">about the resort</a>
                    <a href="#">accomodations</a>
                    <a href="#">event</a>
                    <a href="#">activities</a>
                <div>
                    <a href="#">packages</a>
                    <a href="#">location</a>
                    <a href="#">contact us</a>
                    <a href="#">faq</a> 
                </div>
            </div>

        </div>
        <div class="footer-contacts-links">
            <a href="#">reservations</a>
            <a href="#">(705) 256-1313</a>
            <a href="#">(705) 256-1314</a>
            <div>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
    <p class="copyright">copyright @ 2020 MOKO</p>
</footer>