section{
    width: 100vw;
    padding: 2rem;
}

h2{
    text-transform: capitalize;
    font-size: 2rem;
    text-align: left; 
    color: #073032;
}

.main-visual{
    position: relative;
    height: 30rem;
    background-image: url(img/lake2.jpg);
    background-position: center;
    background-size: cover;
}

.package-visual{
    background-image: url(img/section6-imgs/section6-canvas-220.jpg);
}

.main-visual::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.main-visual h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 2em;
    white-space: nowrap;
    color: white;
    z-index: 1;
}

.activity-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto;
    max-width: 1200px;

}
.activity-banner-img{
    width: 100%;
    height: 25rem;
    background-image: url(img/insta-imgs/insta-3.jpg);
    background-size: cover;
}
.activity-banner-text{
    width: 100%;
    height: 25rem;
    background-color: rgba(217, 186, 160, 0.8);
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
}

.activity-list-container{
    margin: 2rem 0;
}

.activity-img{
    width: 100%;
    height: 20rem;
    background-size: cover;
}

.yoga{
    background-image: url(img/yoga-class.jpg);
}
.swimming{
    background-image: url(img/swimming-class.jpg);
}
.kayak{
    background-image: url(img/kayak-class.jpg);
}
.golf{
    background-image: url(img/golf.jpg);
}

.activity-text h3{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.activity-text>p{
    margin: 0;
}

.schedule{
    padding: 1rem 0;
    text-transform: capitalize;
}

.package-banner-img{
    background-image: url(img/insta-imgs/insta-6.jpg);
}

.restaurant{
    background-image: url(img/restaurant.jpg);
}

.spa{
    background-image: url(img/spa.jpg);
}

.brunch{
    background-image: url(img/insta-imgs/insta-5.jpg);
}

.barbeque{
    background-image: url(img/barbequeplace.jpg);
}

.activity-text h3{
    text-transform: uppercase;
}

@media(min-width: 600px){
    .activity-banner-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .activity-banner-img{
        width: 50%;
        height: 30rem;
    }
    .activity-banner-text{
        display: flex;
        align-items: center;
        width: 50%;
        height: 30rem;
        padding: 3rem;
        transform: scale(1.1);
    }
    .activity-list-container{
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        max-width: 1200px;
        grid-gap: 2rem;
        margin: 2rem auto;
    }
    .activity-banner{
        margin-bottom: 4rem;
    }
    
    


}
