section{
    width: 100vw;
    padding: 2rem;
}

h2{
    text-transform: capitalize;
    font-size: 2rem;
    text-align: left; 
    color: #073032;
}

.rooms-0{
    position: relative;
    height: 30rem;
    background-image: url(img/room-0.jpg);
    background-position: center;
}

.rooms-0 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    background-color: #D9BBA0;
    text-align: center;
    text-transform: capitalize;
}

.book>div{
    padding: 1rem;
}

.book>button{
    margin-bottom: 1rem;
    border: none;
    background-color: transparent;
}

.book a{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #073032;
}

.book-title{
    color: white;
    padding: 0 1rem 0.5rem 1rem;
}

.book input{
    border: none;
    background-color: white;
}

.book select{
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: white;
}

ul.list {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
	margin-top: 26rem;
	padding:  1rem 1rem 0 1rem;
	border-bottom: 1px solid #ccc;
  }
ul.list::after {
	content: '';
	display: block;
	clear: both;
  }
  .tab-button {
	display: block;
	padding: 1rem;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
	color: grey;
	text-decoration: none;
    text-transform: capitalize;
	cursor: pointer;
  }
  .active {
	border-top: 2px solid #467495;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
	border-left: 1px solid #ccc;
	color: black;
	margin-top: -2px;
  }
  .tab-content {
	display: none;
  }
  .show {
	display: block;
  }



.rooms-1 h2{
    text-transform: capitalize;
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;
    text-align: center; 
}

.rooms-1-desc{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    text-align: center;
}

.room-1-detail{
    overflow-x: hidden;
}

.pic{
    position: relative;
    object-fit: cover;
    height: 20rem;
}

.pic div img{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}
.pic div img:first-child{
    opacity: 1;
}






.img-btn{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.img-btn li{
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 1rem;
    border-radius: 100%;
    transform: scale(0.7);
    background-color: white;
    box-shadow: 2px 2px 2px rgba(29, 29, 31, 0.3);
}

.dot[data-dot='true']{
    transform: scale(1);
    transition: all 1s;
}


.room-1-detail .text{
    padding: 2rem; 
    background-color: #073032 ;
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}



.rooms-2{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 0;
}

.rooms-2 h2{
    text-transform: capitalize;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    text-align: left; 
}

.amenities{
    padding: 2rem;
    border-top: 1px solid #073032 ;
    border-bottom: 1px solid #073032 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenities-left{
    font-style: italic;
}

.amenities-left p{
    color: #073032;
    opacity: 0.8;
}

.amenities-right{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.amenities-right div{
    width: 4rem;
    height: 4rem;
    margin: 1rem;

}

.amenities-right div img{
    position: relative;
    top: 25%;
    left: 50%;
    width: 50%;
    transform: translate3d(-50%, -25%, 0);
    margin: 0 auto;
    opacity: 0.8;
}

.amenities-right div p{
    margin-top: 1rem;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: capitalize;
    
}

.rooms-3{
    background-color: #073032;
}

.rooms-gallery{
    margin: 0 auto;
}

.rooms-gallery div{
    background-size: cover;
    margin:2rem auto;
}

.rooms-gallery-0{
    width: calc(100% - 2rem);
    height: 30vh;
    background-image: url(img/mainbg.jpg);
    background-position: right;
}

.rooms-gallery-1{
    width: calc(100% - 2rem);
    height: 30vh;
    background-image: url(img/insta-imgs/insta-3.jpg);
    background-position: center;
}
.rooms-gallery-2{
    width: calc(100% - 2rem);
    height: 30vh;
    background-image: url(img/insta-imgs/insta-1.jpg);
}
.rooms-gallery-3{
    width: calc(100% - 2rem);
    height: 30vh;
    background-image: url(img/section3-bg.jpg);
}

.rooms-4,.rooms-5{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.rooms-4-activities-container div,
.rooms-5-packages-container div{
    width: calc(100% - 2rem);
    height: 50vh;
    margin: 2rem auto;
    background-size: cover;
    background-position: center;
}

.room4-img-1{
    background-image: url(img/yoga-class.jpg);
}
.room4-img-2{
    background-image: url(img/kayak-class.jpg);
}
.room4-img-3{
    background-image: url(img/swimming-class.jpg);
}

.rooms-4-activities-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.5em;
    background-color: rgba(29, 29, 31, 0.5);
    opacity: 0;
    transition: 0.5s;
    text-transform: capitalize;
    cursor: pointer;
}    
.rooms-4-activities-container>div:hover p{
    opacity: 1;
}  

.room5-img-1{
    background-image: url(img/restaurant.jpg);
}
.room5-img-2{
    background-image: url(img/spa.jpg);
}
.room5-img-3{
    background-image: url(img/golf.jpg);
}

.rooms-5-packages-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.5em;
    background-color: rgba(29, 29, 31, 0.5);
    opacity: 0;
    transition: 0.5s;
    text-transform: capitalize;
    cursor: pointer;
}    
.rooms-5-packages-container>div:hover p{
    opacity: 1;
}

.view-more{
    border: 2px solid #D9BBA0;
}

.view-more p{
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
    color: rgb(29, 29, 31);
    opacity: 1;
    text-align: center;
}
.view-more p::after{
    content: '';
    position: absolute;
    width: 95%;
    height: 97%;
    border: 2px solid #D9BBA0;
}

.view-more p button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid #073032;
    color: #073032;
    transition: all 0.5s;
}

.view-more p:hover button{
    background-color: #073032;
    border: 1px solid #073032;
    color: white;
}

@media(min-width: 600px){
    .book{
        flex-direction: row;
        
    }
    .book>div{
        width: 20%;
        padding: 0;
    }

    .book input{
    width: 70%;
    }
    
    .book>button{
        margin-bottom: 0;
    }

    ul.list {
        justify-content: center;
        overflow-x: hidden;
        margin-top: 6rem;
        padding-bottom: 0;
      }

    .rooms-1 h2{
        padding: 2rem;
        margin-top: 2rem;
    }

  
    .room-1-detail{
        display: flex;
        overflow: hidden;
    }
    
    .pic{
        width: 50%;
        flex-wrap: wrap;
        /* transform: translateY(-100%); */
    }
    
    .room-1-detail .text{
        width: 50%;
        display: flex;
        align-items: center;
    }
    

    .rooms-2 h2{
        padding: 2rem;
    }

    .amenities{
        flex-direction: row;
    }

    .amenities-left{
        width: 20%;
        flex-shrink: 0;
    }

    .amenities-right{
        grid-template-columns: repeat(4, 1fr);

    }

    .rooms-3{
        height: 100%;
        padding: 2em;
    }
    .rooms-gallery{
        background-color: #073032;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(30vh, auto);
        gap: 1rem;
        align-items: center;
    }

    .rooms-gallery div{
        width: 100%;
        height: 100%;
    }

    .rooms-gallery-0{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .rooms-gallery-1{
        grid-column: 2/4;
    }

    .rooms-4 h2{
        margin-top: 4rem;
    }

    .rooms-4-activities-container,
    .rooms-5-packages-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }




}

@media (min-width: 960px) {
    .book{
        flex-direction: row;
    }

    .rooms-1{
        max-width: 1200px;
        margin: 0 auto;
    }

    .amenities-right{
        grid-template-columns: repeat(5, 1fr);

    }
    
}

@media (min-width: 1200px) {
    .room-1-detail .pic-arrow{
        width: 70vw;
        top: 35%;
        
    }
}
@media (min-width: 2000px) {
    .room-1-detail .pic-arrow{
        width: 40vw;
    }
}